<p id="notice"><%= notice %></p>

  <h2><%= @cocktail.name %></h2>

  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
  <p>- - - - - - - - - - - - - - - -</p>
  <h4>Ingredients</h4>
  <ul>
  <% @cocktail.doses.each do |dose| %>
  <li><%= dose.description %> | <%= link_to 'x', dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
  </ul>
  <p>- - - - - - - - - - - - - - - -</p>
  <h4>Add dose</h4>
  <%= render 'dose_form', dose: @dose %>


<p>- - - - - - - - - - - - - - - -</p>
<%= link_to 'Edit', edit_cocktail_path(@cocktail) %><br />
<%= link_to 'Back to Cocktails', cocktails_path %>
